body{
  background: #3E5151;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.image-photo{
  width: 100%;
}
.image{
  width: 350px;
  border-radius: 40%;
  text-align: center;
  margin-left: 150%;
  padding-top:15px ;
}
.div-name,.div-adress{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-left: 150%;
}
h2{
  font-size: 35px;
  text-align: center;
}
p{
  font-size: 20px;
  text-align: center;
}